@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Demo Web App</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <div>
        <p>
            <a href="/Category">Browse Categories</a>
        </p>

        <p>
            <a href="/Product">View Products</a>
        </p>
    </div>
</div>