@model DemoWebApp.WebSite.Models.Views.EditCategoryImageViewModel
@{
    ViewData["Title"] = "Edit Image";
}

<div class="container">
    <h2 class="mb-4">Edit Image</h2>

    <form action="@Url.Action("EditImagePost", "Category", new { id = Model.Id })" method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="CategoryName">Category Name</label>
            <input asp-for="CategoryName" class="form-control" readonly="readonly" />
        </div>
        <div class="form-group">
            <label asp-for="Picture">Current image</label>
            <img src="@Url.Action("GetImage", "Category", new { id = Model.Id })" alt="Category image" style="max-width: 100px; max-height: 100px;" />
        </div>
        <div class="form-group">
            <label asp-for="NewImage">New image</label>
            <input asp-for="NewImage" class="form-control" />
            <span asp-validation-for="NewImage" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Update image</button>
    </form>
</div>