@using DemoWebApp.WebSite.ViewModels;
@model IEnumerable<CategoryViewModel>
@{
    ViewData["Title"] = "Categories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Breadcrumbs = new[]
    {
        new BreadcrumbModel { Label = "Home", Url = new Uri(Url.Action("Index", "Home"), UriKind.Relative) },
        new BreadcrumbModel { Label = "Categories" }
    };
}

@section Footers
    {
    <p>Warning: You cannot edit categories.</p>
}

<div class="container">
    <h2 class="mb-4">Categories</h2>
    <div class="list-group">
        @foreach (var cat in Model)
        {
            var hasImage = cat.Picture != null || cat.PictureUrl != null;
            var imageUrl = hasImage
            ? Url.Action("GetImage", "Category", new { id = cat.Id })
            : "/images/no-image-available.png";

            <div class="list-group-item d-flex flex-row align-items-center">
                <a href="@Url.Action("EditImageGet", "Category", new { id = cat.Id })">
                    <img src="@imageUrl" alt="Category image" style="max-width: 100px; max-height: 100px;" />
                </a>
                <a href="@Url.Action("EditImageGet", "Category", new { id = cat.Id })" class="list-group-item list-group-item-action ml-4">@cat.CategoryName</a>
            </div>
        }
    </div>
</div>